#footer_content
  #footer_inner_content
    %p
      = link_to( "PAGE TOP", '#top' , :title => "Go to the Top of the Page")
      &emsp;
      |
      &emsp;
      = link_to( "SITE MAP", '/sitemap', :title => "View the Site Map")
      &emsp;
      |
      &emsp;
      = t('.copyright', :year => Time.now.year, :site_name => "Self-Realization Fellowship")
      &emsp;
      |
      &emsp;
      v#{RefinerySetting.get(:gardenia_version)}
